# Data Preprocessing

In [14]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv("data/original_dataset.csv")

In [16]:
data.shape

(7453, 12)

In [17]:
data.head(8)

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33.0,196.0
1,ACURA,ILX,COMPACT,15.0,4.0,AS5,Z,9.9,6.7,8.5,33.0,196.0
2,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29.0,221.0
3,ACURA,ILX HYBRID,COMPACT,1.5,4.0,AV7,Z,6.0,5.8,5.9,48.0,136.0
4,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25.0,255.0
5,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27.0,244.0
6,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28.0,230.0
7,ACURA,TL,MID-SIZE,3.5,6.0,AS6,Z,11.8,8.1,10.1,28.0,232.0

In [18]:
data.describe()

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
count,7450.000000,7451.000000,7443.000000,7444.000000,7444.000000,7448.000000,7443.000000
mean,3.193745,5.651080,12.780398,9.389537,11.426874,27.671187,251.027811
std,2.038318,2.296648,12.413903,16.997970,18.995393,13.881018,60.955854
min,-5.600000,2.000000,4.200000,1.200000,4.100000,-25.000000,40.000000
25%,2.000000,4.000000,10.100000,7.500000,8.900000,22.000000,208.000000
50%,3.000000,6.000000,12.100000,8.700000,10.600000,27.000000,246.000000
75%,3.700000,6.000000,14.600000,10.200000,12.600000,32.000000,289.000000
max,99.000000,88.000000,999.000000,999.000000,999.000000,999.000000,1239.000000

In [19]:
# finding all the null values
print(data.isnull().sum())

Make                                 0
Model                                1
Vehicle Class                        3
Engine Size(L)                       3
Cylinders                            2
Transmission                         8
Fuel Type                            4
Fuel Consumption City (L/100 km)    10
Fuel Consumption Hwy (L/100 km)      9
Fuel Consumption Comb (L/100 km)     9
Fuel Consumption Comb (mpg)          5
CO2 Emissions(g/km)                 10
dtype: int64

In [20]:
data[data["Model"].isna()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
9,ACURA,NaN,MID-SIZE,3.5,6.0,AS7,Z,12.6,9.2,10.1,25.0,259.0

In [21]:
data[(data["Make"] == "ACURA") & (data["Vehicle Class"]=="MID-SIZE")]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
6,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.00,28.0,230.0
7,ACURA,TL,MID-SIZE,3.5,6.0,AS6,Z,11.8,8.1,10.10,28.0,232.0
8,ACURA,TL AWD,MID-SIZE,3.7,6.0,AS6,Z,12.8,9.0,11.10,25.0,255.0
9,ACURA,NaN,MID-SIZE,3.5,6.0,AS7,Z,12.6,9.2,10.10,25.0,259.0
10,ACURA,TL AWD,MID-SIZE,3.7,6.0,M6,Z,13.4,9.5,11.60,24.0,267.0
11,ACURA,TL AWD,MID-SIZE,3.5,6.0,AS6,Z,11.9,8.0,9.95,-25.0,NaN
24,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.00,28.0,230.0
25,ACURA,RLX HYBRID,MID-SIZE,3.5,6.0,AM7,Z,8.0,7.5,7.70,37.0,177.0
33,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.00,28.0,235.0
34,ACURA,RLX HYBRID,MID-SIZE,3.5,6.0,AM7,Z,8.0,7.5,7.70,37.0,180.0
43,ACURA,RLX HYBRID,MID-SIZE,3.5,6.0,AM7,Z,8.2,7.8,8.10,35.0,190.0
52,ACURA,RLX HYBRID,MID-SIZE,3.5,6.0,AM7,Z,8.4,8.2,8.40,34.0,196.0
65,ACURA,RLX Hybrid,MID-SIZE,3.5,6.0,AM7,Z,8.4,8.2,8.40,34.0,196.0
76,ACURA,RLX Hybrid,MID-SIZE,3.5,6.0,AM7,Z,8.4,8.2,8.40,34.0,196.0

In [22]:
# no data looks similar to the missimg model so we are removing that row
data_prep = data.dropna(subset = "Model")

In [23]:
#check if there are model with null value
#current working data set is data_prep
data_prep.isna().sum()

Make                                 0
Model                                0
Vehicle Class                        3
Engine Size(L)                       3
Cylinders                            2
Transmission                         8
Fuel Type                            4
Fuel Consumption City (L/100 km)    10
Fuel Consumption Hwy (L/100 km)      9
Fuel Consumption Comb (L/100 km)     9
Fuel Consumption Comb (mpg)          5
CO2 Emissions(g/km)                 10
dtype: int64

In [24]:
data_prep[data_prep["Fuel Consumption Comb (mpg)"].isnull()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
22,ACURA,RDX AWD,NaN,NaN,8.0,NaN,Z,NaN,NaN,6.7,NaN,NaN
23,ACURA,RLX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.1,NaN,170.0
150,AstON MARTIN,RAPIDE S,SUBCOMPACT,6.0,12.0,NaN,Z,NaN,NaN,12.2,NaN,NaN
180,AUDI,A8L,FULL-SIZE,3.0,6.0,AS8,Z,12.6,7.7,21.0,NaN,321.0
214,AUDI,s7,SUBCOMPACT,2.0,10.0,AS8,Z,NaN,8.8,NaN,NaN,235.0

In [25]:
#having negative is not a valid value 
data_prep[data_prep["Fuel Consumption Comb (mpg)"] < 0 ]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
11,ACURA,TL AWD,MID-SIZE,3.5,6.0,AS6,Z,11.9,8.0,9.95,-25.0,NaN

In [26]:

#conversion function
def l_100km_to_mpg(l_100km):
    if l_100km > 0:  # Ensure no division by zero or negative values
        return 282.481 / l_100km
    return np.nan

#use the function in the the data_prep
# Use .loc to avoid SettingWithCopyWarning
data_prep.loc[:, 'Fuel Consumption Comb (mpg)'] = data_prep.apply(
    lambda row: l_100km_to_mpg(row['Fuel Consumption Comb (L/100 km)']) 
    if pd.isna(row['Fuel Consumption Comb (mpg)']) and not pd.isna(row['Fuel Consumption Comb (L/100 km)']) 
    else row['Fuel Consumption Comb (mpg)'],
    axis=1
)

In [27]:
data_prep[data_prep["Fuel Consumption Comb (mpg)"] < 0 ]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
11,ACURA,TL AWD,MID-SIZE,3.5,6.0,AS6,Z,11.9,8.0,9.95,-25.0,NaN

In [28]:
data_prep.loc[
    data_prep['Fuel Consumption Comb (mpg)'] < 0, 
    'Fuel Consumption Comb (mpg)'
] = data_prep.apply(
    lambda row: l_100km_to_mpg(row['Fuel Consumption Comb (L/100 km)']) 
    if pd.isna(row['Fuel Consumption Comb (mpg)']) or row['Fuel Consumption Comb (mpg)'] < 0
    else row['Fuel Consumption Comb (mpg)'],
    axis=1
)

In [29]:
data_prep[data_prep["Fuel Consumption Comb (mpg)"] < 0 ]
# success

Empty DataFrame
Columns: [Make, Model, Vehicle Class, Engine Size(L), Cylinders, Transmission, Fuel Type, Fuel Consumption City (L/100 km), Fuel Consumption Hwy (L/100 km), Fuel Consumption Comb (L/100 km), Fuel Consumption Comb (mpg), CO2 Emissions(g/km)]
Index: []

In [30]:
#recheck the missing values in the data set
data_prep.isna().sum()

Make                                 0
Model                                0
Vehicle Class                        3
Engine Size(L)                       3
Cylinders                            2
Transmission                         8
Fuel Type                            4
Fuel Consumption City (L/100 km)    10
Fuel Consumption Hwy (L/100 km)      9
Fuel Consumption Comb (L/100 km)     9
Fuel Consumption Comb (mpg)          1
CO2 Emissions(g/km)                 10
dtype: int64

In [31]:
data_prep[data_prep["Fuel Consumption Comb (mpg)"].isna()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
214,AUDI,s7,SUBCOMPACT,2.0,10.0,AS8,Z,NaN,8.8,NaN,NaN,235.0

In [32]:
# now we drop this as it cant be computed as the Fuel Consumption City (L/100 km) is NAN
data_prep = data_prep.dropna(subset=['Fuel Consumption Comb (mpg)'])

In [33]:
data_prep.isna().sum()

Make                                 0
Model                                0
Vehicle Class                        3
Engine Size(L)                       3
Cylinders                            2
Transmission                         8
Fuel Type                            4
Fuel Consumption City (L/100 km)     9
Fuel Consumption Hwy (L/100 km)      9
Fuel Consumption Comb (L/100 km)     8
Fuel Consumption Comb (mpg)          0
CO2 Emissions(g/km)                 10
dtype: int64

In [34]:
data_prep[data_prep.duplicated(keep=False)]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
5,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27.0,244.0
6,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28.0,230.0
20,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27.0,244.0
24,ACURA,RLX,MID-SIZE,3.5,6.0,AS6,Z,11.9,7.7,10.0,28.0,230.0
36,ACURA,TLX SH-AWD,COMPACT,3.5,6.0,AS9,Z,11.2,7.5,9.6,29.0,226.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7408,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4.0,AS8,Z,10.8,9.5,10.2,28.0,239.0
7412,VOLVO,S60 POLESTAR,COMPACT,2.0,4.0,AS8,Z,11.8,8.5,10.3,27.0,241.0
7413,VOLVO,S60 CC T5 AWD,COMPACT,2.0,4.0,AS8,X,10.8,7.8,9.4,30.0,220.0
7418,VOLVO,V60 POLESTAR,STATION WAGON - SMALL,2.0,4.0,AS8,Z,11.8,8.5,10.3,27.0,241.0
7419,VOLVO,V60 CC T5 AWD,STATION WAGON - SMALL,2.0,4.0,AS8,X,10.8,7.8,9.4,30.0,220.0

In [35]:
#removing duplicates 
data_prep = data_prep.drop_duplicates()

In [36]:
data_prep[data_prep.duplicated(keep=False)]
#all duplicates are removed

Empty DataFrame
Columns: [Make, Model, Vehicle Class, Engine Size(L), Cylinders, Transmission, Fuel Type, Fuel Consumption City (L/100 km), Fuel Consumption Hwy (L/100 km), Fuel Consumption Comb (L/100 km), Fuel Consumption Comb (mpg), CO2 Emissions(g/km)]
Index: []

In [37]:
data_prep.isna().sum()

Make                                 0
Model                                0
Vehicle Class                        3
Engine Size(L)                       3
Cylinders                            2
Transmission                         8
Fuel Type                            4
Fuel Consumption City (L/100 km)     9
Fuel Consumption Hwy (L/100 km)      9
Fuel Consumption Comb (L/100 km)     8
Fuel Consumption Comb (mpg)          0
CO2 Emissions(g/km)                 10
dtype: int64

In [38]:
data_prep[data_prep["CO2 Emissions(g/km)"].isna()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
11,ACURA,TL AWD,MID-SIZE,3.5,6.0,AS6,Z,11.9,8.0,9.95,28.390050,NaN
15,ACURA,Tsx,COMPACT,2.7,4.0,NaN,Z,15.5,NaN,NaN,25.000000,NaN
22,ACURA,RDX AWD,NaN,NaN,8.0,NaN,Z,NaN,NaN,6.70,42.161343,NaN
148,AstON MARTIN,RAPIDE S,SUBCOMPACT,5.0,11.0,A8,Z,15.2,NaN,NaN,15.000000,NaN
149,AstON MARTIN,RAPIDE S,SUBCOMPACT,4.0,8.0,NaN,NaN,NaN,NaN,NaN,19.000000,NaN
150,AstON MARTIN,RAPIDE S,SUBCOMPACT,6.0,12.0,NaN,Z,NaN,NaN,12.20,23.154180,NaN
212,AUDI,A6 QUATTRO,SUBCOMPACT,4.2,4.0,AS8,Z,NaN,9.5,NaN,11.000000,NaN
213,AUDI,A6 QUATTRO,MID-SIZE,2.0,6.0,A7,Z,NaN,8.1,NaN,15.000000,NaN
215,AUDI,s7,MID-SIZE,3.0,8.0,A7,Z,NaN,NaN,12.00,23.000000,NaN
216,AUDI,s7,SUBCOMPACT,3.0,4.0,AS8,Z,14.2,NaN,NaN,21.000000,NaN

In [39]:
#remove rows where the CO2 Emissions(g/km) is NAN
# co2 emissions cant be calculated with available data
data_prep = data_prep.dropna(subset=['CO2 Emissions(g/km)'])

In [40]:
data_prep[data_prep['CO2 Emissions(g/km)'].isna()]

Empty DataFrame
Columns: [Make, Model, Vehicle Class, Engine Size(L), Cylinders, Transmission, Fuel Type, Fuel Consumption City (L/100 km), Fuel Consumption Hwy (L/100 km), Fuel Consumption Comb (L/100 km), Fuel Consumption Comb (mpg), CO2 Emissions(g/km)]
Index: []

In [41]:
data_prep.isna().sum()

Make                                0
Model                               0
Vehicle Class                       2
Engine Size(L)                      2
Cylinders                           2
Transmission                        4
Fuel Type                           3
Fuel Consumption City (L/100 km)    3
Fuel Consumption Hwy (L/100 km)     2
Fuel Consumption Comb (L/100 km)    2
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [42]:
data_prep[data_prep["Engine Size(L)"].isna()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
21,ACURA,ILX,COMPACT,NaN,NaN,NaN,NaN,NaN,5.8,NaN,28.000000,140.0
23,ACURA,RLX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.1,46.308361,170.0

In [43]:
# remove row where the Engine Size(L) cos most colom are NAN
data_prep = data_prep.dropna(subset=['Engine Size(L)'])

In [44]:
data_prep[data_prep["Engine Size(L)"].isna()]

Empty DataFrame
Columns: [Make, Model, Vehicle Class, Engine Size(L), Cylinders, Transmission, Fuel Type, Fuel Consumption City (L/100 km), Fuel Consumption Hwy (L/100 km), Fuel Consumption Comb (L/100 km), Fuel Consumption Comb (mpg), CO2 Emissions(g/km)]
Index: []

In [45]:
data_prep.isna().sum()

Make                                0
Model                               0
Vehicle Class                       1
Engine Size(L)                      0
Cylinders                           0
Transmission                        2
Fuel Type                           1
Fuel Consumption City (L/100 km)    1
Fuel Consumption Hwy (L/100 km)     1
Fuel Consumption Comb (L/100 km)    1
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [46]:
data_prep[data_prep["Transmission"].isna()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
147,AstON MARTIN,DB11 V12,MINICOMPACT4,4.0,14.0,NaN,NaN,NaN,14.4,12.1,18.0,363.0
590,BMW,335i SEDAN,COMPACT,10.0,2.0,NaN,Z,11.5,8.0,NaN,72.0,85.0

In [47]:
data_prep = data_prep.dropna(subset=['Fuel Type'])

In [48]:
data_prep.loc[data_prep['Fuel Consumption Comb (L/100 km)'].isna(), 'Fuel Consumption Comb (L/100 km)'] = (
    data_prep['Fuel Consumption City (L/100 km)'] + data_prep['Fuel Consumption Hwy (L/100 km)']
) / 2

In [49]:
data_prep[data_prep["Transmission"].isna()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
590,BMW,335i SEDAN,COMPACT,10.0,2.0,NaN,Z,11.5,8.0,9.75,72.0,85.0

In [50]:
data_prep = data_prep.dropna(subset=['Transmission'])

In [51]:
data_prep.isna().sum()

Make                                0
Model                               0
Vehicle Class                       1
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     1
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [52]:
data_prep[data_prep["Vehicle Class"].isna()]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
55,ACURA,TLX SH-AWD,NaN,3.5,6.0,AS9,Z,11.4,7.7,9.8,29.0,228.0

In [55]:
# check what could be the Vehicle class
data_prep[(data_prep["Make"] == "ACURA") & (data_prep["Model"] == "TLX SH-AWD") ]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
28,ACURA,TLX SH-AWD,COMPACT,3.5,6.0,AS9,Z,11.2,7.5,9.6,29.0,221.0
36,ACURA,TLX SH-AWD,COMPACT,3.5,6.0,AS9,Z,11.2,7.5,9.6,29.0,226.0
55,ACURA,TLX SH-AWD,NaN,3.5,6.0,AS9,Z,11.4,7.7,9.8,29.0,228.0
56,ACURA,TLX SH-AWD,COMPACT,-5.6,6.0,AS10,Z,10.0,1.2,5.6,30.0,228.0
68,ACURA,TLX SH-AWD,COMPACT,3.5,6.0,AS9,Z,11.4,7.7,9.8,29.0,228.0

In [56]:
data_prep.loc[data_prep["Vehicle Class"].isnull(), "Vehicle Class"] = "COMPACT"

In [58]:
data_prep[(data_prep["Make"] == "ACURA") & (data_prep["Model"] == "TLX SH-AWD") ]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
28,ACURA,TLX SH-AWD,COMPACT,3.5,6.0,AS9,Z,11.2,7.5,9.6,29.0,221.0
36,ACURA,TLX SH-AWD,COMPACT,3.5,6.0,AS9,Z,11.2,7.5,9.6,29.0,226.0
55,ACURA,TLX SH-AWD,COMPACT,3.5,6.0,AS9,Z,11.4,7.7,9.8,29.0,228.0
56,ACURA,TLX SH-AWD,COMPACT,-5.6,6.0,AS10,Z,10.0,1.2,5.6,30.0,228.0
68,ACURA,TLX SH-AWD,COMPACT,3.5,6.0,AS9,Z,11.4,7.7,9.8,29.0,228.0

In [59]:
# engine size cant be negative 
data_prep[(data_prep["Engine Size(L)"] < 0 )]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
56,ACURA,TLX SH-AWD,COMPACT,-5.6,6.0,AS10,Z,10.0,1.2,5.6,30.0,228.0

In [71]:
filtered_data = data_prep[(data_prep['Make'] == 'ACURA') &
                     (data_prep['Model'] == 'TLX SH-AWD') &
                     (data_prep['Cylinders'] == 6.0)]


filtered_data['Engine Size(L)'].value_counts()

Engine Size(L)
 3.5    4
-5.6    1
Name: count, dtype: int64

In [74]:
# Replace negative values in the 'Engine Size (L)' column with 3.5
#as that is the frequent size 
data_prep['Engine Size(L)'] = data_prep.apply(
    lambda row: 3.5 if row['Engine Size(L)'] < 0 else row['Engine Size(L)'],
    axis=1
)

In [78]:
data_prep["Engine Size(L)"].unique()

array([ 2. , 15. ,  2.4,  1.5,  3.5,  3.7,  3. ,  1.8,  2.9,  5.9,  4.7,
        6. ,  5.2,  4. , 12. ,  6.3,  4.2,  2.5,  6.8,  4.4, 24.4,  6.6,
        8. ,  3.6,  1.4,  1.2,  1.3,  6.2,  2.7,  4.3,  5.3,  4.8,  2.8,
        1.6,  5.7,  6.4,  8.4, 13.6,  4.6,  5.4,  5. ,  1. ,  5.8,  2.3,
        3.3,  3.8,  5.6,  3.2,  6.5,  3.4,  2.2,  5.5,  2.1, 88. ,  6.7,
        0.9, 99. ])

In [79]:
data_prep.isna().sum()

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     1
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [81]:
# Checking for missing values in the "Fuel Consumption Hwy (L/100 km)" column
data_prep[data_prep[["Fuel Consumption Hwy (L/100 km)"]].isnull().any(axis = 1)]

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
211,AUDI,s7,MID-SIZE,4.0,6.0,A7,Z,12.0,NaN,10.4,18.0,240.0

In [92]:
# Calculating and filling missing values for the "Fuel Consumption Hwy (L/100 km)" column based on a percentage of the combined consumption
mask = data_prep["Fuel Consumption Hwy (L/100 km)"].isnull()
mask.value_counts()

Fuel Consumption Hwy (L/100 km)
False    6330
True        1
Name: count, dtype: int64

In [93]:
# there is one missing value we are finding the val based on the impact percentage
data_prep.loc[mask, "Fuel Consumption Hwy (L/100 km)"] = data_prep.loc[mask, "Fuel Consumption Comb (L/100 km)"] * 0.45

In [96]:
data_prep.isna().sum()

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

In [101]:
data_prep.to_csv('data/preprocessig_data.csv', index=False)

### all null values are dealed with now we will see the unique values